/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* Application */

:root {
  --purple: #896EF5;
  --dark-purple: #6547db;
  --orange: #F5BF6E;
  --dark-orange: #eb9f2d;
  --blue: #242E63;
  --light-blue: #406788;
  --green: #DAF56E;
  --pink: #F56EDA;
  --grey: #fafafa;
  

  --medium-blue: #35424d;


  --greenBlue: #378B8C;
  --green: #659999;
  --primary-color: #2b3d4f;
  --primary-hover-color: #1e3043;
  --color-tertiary: #1cc4ca;
  --color-tertiary-hover-color: #24d0d6;
  --color-quaternary: #1ab7bc;
  --color-quaternary-hover-color: #1ab7bc;
  --dark-grey-blue: #5d6b79;
  --deep-blue: #192e3e;

  --box-shadow-thin: 1px 1px 4px 0px;
  --box-shadow-blurry: 1px 4px 24px 1px;
  --box-shadow-blurry-2: 2px 4px 20px 0px;
}


.visually-hidden {
  background-color: #fff;
  color: #000;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

.App {
  font-size: 16px;
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 620px) {
  .wrapper { 
    padding: 0 40px;
  }
}

body {
  line-height: 1.2;
  min-height: 100vh;
  height: 100%;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  color: #000;
}


 .nav {
   border-bottom: 1px solid #ffffff;
  }
  .nav a {
    margin: 30px 0;
    text-decoration: none;
    color: #000;
    font-size: 30px;
   }

  nav.wrapper {
     min-height: 0;
   }


.button-container {
  width: 100%;
  border-top: 1px solid #d3d3d3;
  text-align: right;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 60px;
}

button {
  padding: 8px 25px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  overflow: visible;
  border-width: 0;
  border-radius: 6px;
  border: 1px solid #808080;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  background: var(--blue);
  box-shadow: var(--box-shadow-thin) var(--light-blue);

}
button:hover {
  background: var(--light-blue);
}

button:disabled, button.back-btn:disabled, button.next-btn:disabled {
  background-color: #afafaf;
  opacity: 0.8;
  box-shadow: var(--box-shadow-thin) #808080;
  border: 1px solid #808080;
}